//Readout mode//
2
//Buffer mode//
1
//Calibration dac//
434
//Pixel address x//
68
//Pixel address y//
50
//Threshold dacs//
199
199
199
199
199
199
199
199
199
199
199
199
199
199
199
199
//Clock frequency code//
64
//Clock shift//
22
//# pedestal samples//
2
//Pedestal sample delay//
10
//Trigger enable delay//
5
//Minimum window size//
13
//Maximum window size//
3
//Large window padding//
0