//Readout mode//
2
//Buffer mode//
1
//Calibration dac//
496
//Pixel address x//
50
//Pixel address y//
50
//Threshold dacs//
372
372
372
372
372
372
372
372
372
372
372
372
372
372
372
372
//Clock frequency code//
96
//Clock shift//
25
//# pedestal samples//
2
//Pedestal sample delay//
10
//Trigger enable delay//
2
//Minimum window size//
1
//Maximum window size//
5
