//Readout mode//
2
//Buffer mode//
65534
//Calibration dac//
310
//Pixel address x//
50
//Pixel address y//
50
//Threshold dacs//
360
360
360
360
360
360
360
360
360
360
360
360
360
360
360
360
//Clock frequency code//
32
//Clock shift//
23
//# pedestal samples//
2
//Pedestal sample delay//
10
//Trigger enable delay//
5
//Minimum window size//
8
//Maximum window size//
5
