//Socket Port//
50001
//Refresh Interval//
1000
//Zero Suppression Threshold//
8
//Minimum elongation//
0
//Maximum elongation//
100
//Minimum cluster size//
0
//Maximum cluster size//
1000
//Minimum pulse height//
0
//Maximum pulse height//
10000
//Minimum window size//
0
//Maximum window size//
10000
//Minimum skewness//
0
//Maximum skewness//
100
//Display the box with the cuts//
1
//Display the modulation plot//
1