//Socket Port//
50001
//Refresh Interval//
1000
//Zero Suppression Threshold//
9
//Minimum elongation//
1.
//Maximum elongation//
100.
//Minimum cluster size//
6
//Maximum cluster size//
10000
//Minimum pulse height//
600
//Maximum pulse height//
10000
//Minimum window size//
200
//Maximum window size//
10000
//Minimum skewness//
0
//Maximum skewness//
100
//Display the box with the cuts//
1