//readout_mode//
2
//buffer_mode//
1
//calibration_dac//
496
//pixel_address_x//
50
//pixel_address_y//
50
//threshold_dacs//
347
347
347
347
347
347
347
347
347
347
347
347
347
347
347
347
//timing_code//
121
//num_ped_samples//
4
//ped_sample_delay//
10
//trg_enable_delay//
5
//min_window_size//
16
//max_window_size//
5
