//Visualization mode//
4
//Write data file//
1
//Output root folder//
/data/xpedata/004
//Multicast enabled//
0
//Multicast address//
127.0.0.1
//Multicast port//
50001
//Write log file//
1
//Logger terminal level//
0
//Logger display level//
0
//USB timeout//
20000